~*
__pycache__
*.pt
*.pth
*.ipynb*
*.egg-info
*.jsonl
nohup.out
.idea/*
client/node_modules
client/dist
target/
*.safetensors
.DS_Store
*.lprof
*.prof
cert.pem
key.pem
.mypy_cache
Gemfile.lock
project_page/_site/*
kyuteye_mlx/static/*
ssvd/synthetic_visual_dialogues/